<div class="separator">или</div>

<ul class="providers list-inline">
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <li>
        <%= link_to omniauth_authorize_path(resource_name, provider), :class => "btn btn-primary btn-provider #{provider}" do %>
          <%= content_tag :i, '', :class => "fa fa-#{provider}" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render "devise/shared/links" %>
