<div class="separator">или</div>

<ul class="providers">
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <li>
        <%= link_to omniauth_authorize_path(resource_name, provider), :class => "btn btn-info btn-block #{provider}" do %>
          <%= content_tag :i, '', :class => "fa fa-#{provider}" %>
          <%= provider.to_s.titleize %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
