app:
  domain:    DOMAIN
  host:      HOST
  port:      PORT
  secret:    SECRET

devise:
  mail_from: MAIL
  secret:    SECRET

errors:
  key:       KEY
  url:       URL

providers:
  github:
    id:      APP_ID
    secret:  APP_SECRET

  twitter:
    id:      APP_ID
    secret:  APP_SECRET

session_store:
  url:       redis://url:port/

smtp:
  address:        ADDRESS
  authentication: AUTH_METHOD
  domain:         DOMAIN_NAME
  password:       PASSWORD
  port:           PORT
  user_name:      USER_NAME

users_storage:
  url:       redis://url:port/

redis:
  url:       redis://url:port/

# choose url or socket connection
redis_user_connector:
  #url:      redis://url:port/database
  #socket:   /path/to/redis.sock
