<%= render :partial => 'commons/subnavigation' %>

<div class="tab-content">
  <div class="alert alert-info">
    Для запрещения доступа с помощью социальной сети к учетной записи ТУСУР - необходимо удалить авторизованное приложение в настройках конкретной социальной сети!
  </div>

  <ul class="ajaxed">
    <% @identities.each do |identity| %>
      <li>
        <%= render :partial => 'identities/identity', :object => identity %>

        <%= link_to 'Удалить', identity_path(identity),
                    :data => { :confirm => 'Вы точно, хотите удалить этот аккаунт?' },
                    :class => 'btn btn-danger btn-sm pull-right js-delete',
                    :remote => true,
                    :method => :delete %>
      </li>
    <% end %>
  </ul>

  <ul>
    <% User.omniauth_providers.each do |provider| %>
      <li>
        <%= link_to "Связать #{provider.to_s.titleize}", omniauth_authorize_path(current_user, provider) %>
      </li>
    <% end %>
  </ul>

</div>
