html, body
  height: 100%

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  color: #222

h1
  font-size: 20px
  font-weight: 400
  margin: 15px 0

h2
  font-size: 18px
  margin: 15px 0

h4
  font-size: 16px
  line-height: 24px

textarea.form-control
  height: 120px

table
  border-collapse: collapse
  border-spacing: 0
  width: 100%

  td, th
    border: 1px solid #bbb
    color: #666
    padding: 5px
    text-align: center

.table > thead > tr > th,
.table > tbody > tr > td
  vertical-align: middle

.wrapper
  min-height: 100%
  height: auto
  margin: -0.1px auto -100px
  padding: 0.1px 0 100px 0

.footer
  height: 100px
  bottom: 0
  position: relative
  width: 100%

  .contacts
    background: #f2f2f2
    font-size: 13px
    line-height: 22px
    padding: 10px 0 0 0

    .glyphicon
      color: #005bae

  .copyright
    background: #005bae
    color: #fff
    font-size: 13px
    height: 35px
    line-height: 35px
    text-align: right

    .openteam
      float: right

    a
      color: #fff
      text-decoration: underline

      &:hover
        text-decoration: none

.content
  margin: 0 auto
  width: 420px

  &.welcome
    width: 515px

    .account-wall
      padding: 0 20px 20px 20px

    .avatar
      +border-radius(5px)
      margin: 0 20px 0 0

    .info
      margin: 5px 0 10px 0

    .actions
      border-top: 1px solid #d2d4d3
      font-size: 13px
      padding: 10px 0 0 0

.form-title
  color: #333
  display: block
  font-size: 18px
  font-weight: 400

.account-wall
  +border-radius(3px)
  background: #f3f3f3
  border: 1px solid #d2d4d3
  margin: 20px auto
  padding: 0 30px

  .account-avatar
    +border-radius(50%)
    display: block
    height: 44px
    margin: 0 auto 10px
    width: 44px

  .account-name
    color: #333
    font-size: 16px
    text-align: center

  .form-signin
    margin: 0 auto
    max-width: 330px

    .form-group
      padding: 0 10px

.separator
  color: #555
  font-size: 14px
  line-height: 14px
  margin: 20px 0
  position: relative
  text-align: center

  &:before, &:after
    display: block
    content: ''
    background-color: #d2d4d3
    height: 1px
    position: absolute
    top: 8px
    width: 40%

  &:before
    left: 0

  &:after
    right: 0

.providers
  border-bottom: 1px solid #d2d4d3
  padding: 0 0 25px 0
  text-align: center

  &:before
    content: ''

  li
    margin: 0
    padding: 0 3px

  .btn-provider
    height: 44px
    width: 50px

  .icon-provider
    font-size: 18px
    line-height: 30px

.help-block
  font-size: 13px

  &:before
    content: '\2b11'
    font-size: 22px
    line-height: 14px

.flash_message
  +border-top-left-radius(0)
  +border-top-right-radius(0)
  border-top: 0
  cursor: pointer
  left: 50%
  margin-left: -210px
  position: fixed
  text-align: center
  top: 0
  width: 420px
  z-index: 99999

.tab-sidebar, .tab-content
  float: left

.tab-sidebar
  width: 20%

  ul
    margin: 0 -1px 0 0

  li
    a:hover
      +border-bottom-left-radius(2px)
      +border-top-left-radius(2px)
      color: #005582
      border-right: 1px solid #dedede

    &.active
      +border-bottom-left-radius(2px)
      +border-top-left-radius(2px)
      border: 1px solid #dedede
      border-right: none
      background: #fff

      a
        color: #000

        &:hover
          border-right: none

.tab-content
  border-left: 1px solid #dedede
  border-top: 1px solid #dedede
  height: 100%
  min-height: 275px
  padding: 15px
  width: 80%

.form-search
  margin: 0 0 20px 0

  input
    &.string
      +min-height(18px)
      border: 1px solid #cacaca
      font-size: 12px
      line-height: 18px
      margin: 0
      outline: none
      padding: 5px
      width: 320px

.form-avatar
  margin: 10px 0

  .radio
    +inline-block
    padding: 0
    margin: 0 10px

    input
      display: none

    label
      height: 140px
      margin: 0
      padding: 0
      width: 96px

    img
      padding: 2px
      border: 2px solid #fff

    .avatar-name
      display: block
      margin: 5px 0
      text-align: center

  .selected
    img
      border-color: #005bae

.identity
  display: block
  margin: 5px 0

// Lists -->
.list
  .list-item
    line-height: 30px
    margin: 5px 20px 5px 0
    padding: 0 5px

    &.list-bordered
      border-top: 1px solid #d5d5d5

      &:last-child
        border-bottom: 1px solid #d5d5d5

    &.even
      background: #fff

    &.odd
      background: #f2f2f2

    .identity
      +inline-block
      text-decoration: none

    .actions
      margin: 0 -25px 0 0

      a
        color: #9a9a9a
        line-height: 40px

// <-- // Lists
