html, body
  height: 100%

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  color: #222

h1
  font-size: 20px
  font-weight: 400
  margin: 15px 0

h2
  font-size: 18px
  margin: 15px 0

h4
  font-size: 16px
  line-height: 24px

textarea.form-control
  height: 120px

table
  border-collapse: collapse
  border-spacing: 0
  width: 100%

  td, th
    border: 1px solid #bbb
    color: #666
    padding: 5px
    text-align: center

.wrapper
  min-height: 100%
  height: auto
  margin: -0.1px auto -100px
  padding: 0.1px 0 100px 0

.footer
  height: 100px
  bottom: 0
  position: relative
  width: 100%

  .contacts
    background: #f2f2f2
    font-size: 13px
    line-height: 22px
    padding: 10px 0 0 0

    .glyphicon
      color: #005bae

  .copyright
    background: #005bae
    color: #fff
    font-size: 13px
    height: 35px
    line-height: 35px
    text-align: right

    .openteam
      float: right

    a
      color: #fff
      text-decoration: underline

      &:hover
        text-decoration: none

.form-title
  color: #333
  display: block
  font-size: 18px
  font-weight: 400

.account-wall
  +box-shadow(0 1px 1px #d0d4d5)
  background: #f3f3f3
  margin: 20px 0
  padding: 20px 30px

  .avatar
    +border-radius(50%)
    display: block
    height: 96px
    margin: 0 auto 10px
    width: 96px

  .account-name
    font-size: 16px
    font-weight: bold
    margin: 10px 0 0
    text-align: center

  .form-signin
    margin: 0 auto
    max-width: 330px

    .form-group
      padding: 0 10px

.separator
  color: #555
  font-size: 14px
  line-height: 14px
  margin: 20px 0
  position: relative
  text-align: center

  &:before, &:after
    display: block
    content: ''
    background-color: #ccc
    height: 1px
    position: absolute
    top: 8px
    width: 40%

  &:before
    left: 7px

  &:after
    right: 7px

.providers
  &:before
    content: ''

  li
    margin: 10px 0
