<p>Добрый день, <%= @resource.email %>!</p>

<p>Вы запросили ссылку для смены вашего пароля. Вы можете сделать это по следующей ссылке.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если вы не запрашивали сброс пароля, то игнорируйте это письмо.</p>
<p>Ваш пароль не изменится пока вы не перейдете по ссылке и не создадите новый пароль.</p>
