<h3>Восстановление пароля</h3>

<p>Добрый день, <%= @resource.email %>!</p>

<p>
  Чтобы изменить пароль для вашего аккаунта, пожалуйста, пройдите по следующей ссылке:
</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @token), :class => 'button' %></p>

<p>
  Если вы не запрашивали сброс пароля, то игнорируйте это письмо. Ваш пароль не изменится пока вы не перейдете по ссылке и не создадите новый пароль.
</p>
