<div class='footer'>
  <div class='contacts'>
    <div class='container'>
      <ul>
        <li><strong>Томский государственный университет систем управления и радиоэлектроники</strong></li>
        <li><span class='glyphicon glyphicon-map-marker'></span> 634050, г. Томск, пр. Ленина, 40</li>
      </ul>
    </div>
  </div>

  <div class='copyright'>
    <div class='container'>
      Разработка и дизайн <a href='http://tusur.ru/ru/informatization/subdivision/cvtir/'>OpenTeam</a>
    </div>
  </div>
</div>
