<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="email/application.css" />
  </head>
  <body>
    <div class="container">
      <table>
        <tbody>
          <tr>
            <td>

              <!-- header //-->
              <table class="header">
                <tbody>
                  <tr>
                    <td class="logo">
                      <%= image_tag(attachments['logo.png'].try(:url), :alt => 'ТУСУР') %>
                    </td>
                    <td>
                      <%= link_to I18n.t('app_name'), root_url, :target => :_blank %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--// header -->

              <!-- content //-->
              <table class="content">
                <tbody>
                  <tr>
                    <td>
                      <%= yield %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- content //-->

              <!-- footer //-->
              <table class="footer">
                <tbody>
                  <tr>
                    <td>
                      Интересующие вас вопросы можно задать в <a href="http://profile.tusur.ru/">личном кабинете</a>
                    </td>
                    <td>
                      <strong><%= I18n.t('app_name') %></strong>
                    </td>
                  </tr>
              </table>
              <!-- footer //-->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
